<p>child-nav works!</p>

<div class="container bg-success">
  <div class="row">
    <div class="col-12">
      <h1>Child Nav</h1>
      <a routerLink="child-1" class="btn btn-dark m-3"> Child 1 </a>
      <a routerLink="child-2" class="btn btn-dark m-3"> Child 2 </a>
      <!-- Relative Link Path -->
      <a
        routerLink="../second-manually-generated-component"
        class="btn btn-dark m-3"
      >
        Relative Link
      </a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
