<div class="container bg-info">
  <h1>binding Component!</h1>
  <div class="row">
    <div class="col-12 text-center">
      <h2>One Way Binding OR Interpolation</h2>
      <div class="row bg-secondary">
        <div class="col-12">
          <h2>Template Expression</h2>
          <h3 class="p-3">
            Value of Var Coming from Parent:
            <span class="text-white"> {{ val }}</span>
          </h3>
        </div>
      </div>
      <h2>Element Expression</h2>
      <div class="row bg-danger">
        <div class="col-4">
          <!-- Simple -->
          <h5>Simple</h5>
          <img height="300px" src="../../../assets/Images/Faizy.jpg" alt="" />
        </div>
        <div class="col-4 bg-warning">
          <!-- If you want to use as element property define source in ts file -->
          <h5
            [style.background-color]="bgColor"
            [style.font-size.px]="fontSize"
          >
            Element Property
          </h5>
          <img height="300px" [src]="source" alt="" />
        </div>
        <div class="col-4 bg-dark text-white">
          <!-- If you want to use as template expression define source in ts file -->
          <h5>template expression</h5>
          <img height="300px" src="{{ source }}" alt="" />
        </div>
      </div>
      <h2>Event Binding</h2>
      <div class="row">
        <div class="col-12 bg-white">
          <h3>Boolean Value is : {{ bolVal }}</h3>
          <div (click)="toggleBoolean()" class="btn btn-danger">Toggle</div>
        </div>
      </div>
      <h2>Two Way Binding</h2>
      <div class="row bg-success">
        <div class="col-12">
          Enter Name :
          <input [(ngModel)]="uName" type="text" name="name" id="name" /><br />
          Enter Price :
          <input [(ngModel)]="price" type="text" name="name" id="name" />
          <h3>
            You have entered the name ::::
            <span class="bg-danger text-white p-2"> {{ uName }}</span>
          </h3>
          <h3>
            You have entered the Price ::::
            <span class="bg-danger text-white p-2"> {{ price }}</span>
          </h3>
        </div>
      </div>
      <h2>Pipes</h2>
      <div class="row bg-dark text-white">
        <div class="col-12">
          <h3>display Input Value with Validation</h3>
          <h4>Name uppercase : {{ uName | uppercase }}</h4>
          <h4>Name lowercase : {{ uName | lowercase }}</h4>
          <h4>Price in Currency : {{ price | currency }}</h4>
          <h4>
            Price in Currency with params :
            {{ price | currency: "USD":"symbol":"1.2-2" }}
          </h4>
        </div>
      </div>
      <h2>Custom Pipes</h2>
      <div class="row bg-warning">
        <div class="col-12">
          <h1>Filters</h1>
        </div>
      </div>
      <h2>Using Getter and Setters</h2>
      <div class="row bg-danger text-white">
        <div class="col-12">
          <h3>Value is Setting through Input using Setters</h3>
          Enter List Value :
          <input [(ngModel)]="list" type="text" name="list" id="" />
          <h3>Value is Coming through Input using Getter</h3>
          <h4>
            Value is : <span class="bg-dark"> {{ list }}</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
